html, body {
	display: inline;
	height: 100%;
	margin: 0;
}

#menu {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#twomanname {
	display: none;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#onemancalc {
	display: none;
	height: 100%;
	width: 100%;
	justify-content: center;
}

#twomancalc {
	z-index: 1;
	display: none;
	height: 100%;
	width: 100%;
}

#manone {
	z-index: 1;
	display: inline;
	height: 100%;
	width: 25%;
}

#manoneavg {
	z-index: 1;
	display: inline;
	height: 100%;
	width: 25%;
}

#mantwoavg {
	z-index: 1;
	display: inline;
	height: 100%;
	width: 25%;
}

#mantwo {
	z-index: 1;
	display: inline;
	height: 100%;
	width: 25%;
}
